{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'client/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
    <div class="hover-box">
        <p>Computed with {{runtime}} seconds of runtime.</p>
        <div class="console-output">
            <pre>
{{result}}
            </pre>
        </div>
        <a href="/"><button class="small-button" type="submit">Back</button></a>
        <a href="/static/{{id}}.zip"><button class="small-button" type="submit">Download Files</button></a>
    </div>
</div>