{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'client/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
function updateTextInput(val) {
    document.getElementById('textInput').value= val;
}
</script>

<div class="container">
    <div class="hover-box">
        <form action="" class="text-button-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Requested Runtime (s)</p>
            <input type="text" id="textInput" value="1" disabled>
            {{ form }}
            <button class="small-button" type="submit">Compute</button>
        </form>
    </div>
</div>